body{
	background: #393543;
	font-family:Verdana, Arial, sans-serif;
	font-size:1.1em;
}
.clearfix:before, .clearfix:after {
	content:" ";
	display:table;
}
.clearfix:after{
	clear:both;
}
.wrapper{
	max-width:650px;
	height:auto;
	margin:0 auto;
}
header{
	background: url(../img/sky.png) no-repeat; 
	height:300px;
	background-size:cover;
	margin-top:0;
	padding:0 10px;
}
.logo{
	float:right;
	font-weight:500;
	color:#393543;
	padding:15px;
}
.logo_info{
	text-align:center;
}
.main{
	background:#e2dcd1;
	padding:10px 15px;
	height:100%;
}
.left_article{
	float:left;
  margin: 9px  12px 0 3px;
}
img.article{
	box-shadow: 0 0 0 3px #844744;
}
figcaption{
	font-size:40%;
	text-align:center;
	font-weight:bold;
	margin-top:3px;
}
.data_container{
	text-align:center;
}
.data{
	display:inline-block;
	margin:10px 0;
	border:2px solid #844744;
	padding:3px 10px;
	line-height:1.6em;
}
.indent{
	text-indent: 5%; 
}
.avtograf{
	font-family:Futura, "Trebushet MS", Arial;
	font-style:italic;
	font-weight:300;
	color:#844744;
}
.hide {
  visibility: hidden;
}
.pagination {
  width: 100%;
  max-width: 650px; 
  margin:10px 0;
  text-align: left;
}
.title {
  margin-bottom: 10px;
  float: left;
  text-align: center;
  width: 58%;
  padding: 1%;
}

.prev, .next {
  float: left;
  font-size: 90%;
  width: 18%;
  text-align: center;
  cursor: pointer;
	padding: 1%;
	color:#393543;
}
.content {
  clear: both;
}
.pageNum {
  padding: 0 5px;
  font-size:80%;
  margin-right:10px;
  margin-bottom:10px;
  display: inline-block;
  cursor: pointer;
  border:1px solid #844744;
}
.pageNum.navActive {
  color: #a72409;
  font-weight:bold;
}

